*.DS_Store
*.pyc
*py~
*.pth
Models/*
Data/*
models/*
*.swp
.vscode
*~
temp/*
# test-related
.coverage
.cache
# developer environments
.idea
.ipython*
*/.ipynb*
*/.ipynb_checkpoints/*
inception-score/inception_finetuned_models/*
inception-score/results/*
demo/text_encoder/*
.remote-sync.json
test.py
__deprecated/*